.row {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: $width-row;
	margin: 0 auto;
	padding: 0 rem(14);

	@include breakpoint(sm up) {
		padding: 0 rem(48);
	}

	@include breakpoint(md up) {
		padding: 0 rem(16);
	}

	.column {
		flex: 1;
		min-width: 0;
		padding: 0 rem(14);

		@include breakpoint(sm up) {
			padding: 0 rem(14);
		}

		@include breakpoint(md up) {
			padding: 0 rem(16);
		}
	}
}
