.section {
	&__title {
		@include typo(d1);

		&--small {
			@include typo(d2);
		}
	}

	&__perex {
		@include typo(b1);

		max-width: rem(700);
		margin-top: spacer(lg);

		&--small {
			@include typo(b2);

			margin-top: spacer(md);
		}
	}
}
