// headlines
@mixin typo-display-default() {
	margin: 0;
	font-family: $font-family-heading;
	font-weight: $font-weight-bold;
}

// bodycopy
@mixin typo-bodycopy-default() {
	font-family: $font-family-bodycopy;
	font-weight: $font-weight-medium;
}

@mixin typo($typo) {
	@if  string.index($typo, 'd') == 1 {
		@include typo-display-default;
	} @else if (string.index($typo, 'b')) == 1 {
		@include typo-bodycopy-default;
	}

	// headline
	@if $typo == d1 {
		font-size: rem(55);
		line-height: em(55, 55);
		letter-spacing: em(-0.2, 55);
	}

	@if $typo == d2 {
		font-size: rem(21);
		line-height: em(23, 32);
		letter-spacing: em(1.3, 21);
		text-transform: uppercase;
	}

	@if $typo == d3 {
		font-size: rem(32);
		line-height: em(35, 32);
		letter-spacing: em(-0.2, 32);
	}

	// text
	@if $typo == b1 {
		font-size: rem(21);
		line-height: em(30, 21);
	}

	@if $typo == b2 {
		font-size: rem(16);
		line-height: em(23, 16);
	}
}
