// colors
$color-white: #FFFFFF;
$color-black: #000000;
$color-green: #024E40;
$color-green-light: #7FC109;
$color-green-dim: #61908E;
$color-green-dim-light: #AAE8C3;
$color-yellow: #FEE694;
$color-grey: #E7E7E7;
$color-grey-greenish: #BFDBDC; // placeholder under images

// borders
$border-radius-default: 2px;

// typo (specific typo combination like headings or bodycopy define in `typo.scss`)
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;

$font-family-bodycopy: 'Inter', sans-serif;
$font-family-heading: 'Inter', sans-serif;
$font-size-base: 16;

// vertical rhythm; use `spacer(lg);` custom scss function
$vertical-rhythm-base: 1rem; // expecting default browser font-size is 16px
$vertical-rhythm-spacers: (
	xxs: rem(16),
	xs: rem(28),
	sm: rem(32),
	md: rem(40),
	lg: rem(48),
	xl: rem(60),
	xxl: rem(120),
	xxxl: rem(160),
);

// dimensions
$width-row: rem(1298);

$border-radius-default: rem(16);
$border-radius-small: rem(6);

// transitions
$transition-duration-default: 0.3s;
$transition-default: all $transition-duration-default ease-in-out;

// breakpoints
$breakpoints: (
	xxl: em(1920, $font-size-base),
	xl: em(1600, $font-size-base),
	lg: em(1280, $font-size-base),
	md: em(940, $font-size-base),
	sm: em(640, $font-size-base),
	xs: em(460, $font-size-base),
	xxs: em(0, $font-size-base)
);

// z-indexes
$zindex-header: 1000;

$grid-column-count: 12;
